@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;

    a {
        color: var(--color-slate);
    }
}
